.session
  .session__text
    %h2 ログイン
  = form_with model: @user, url: user_session_path, id: 'session_form', class: 'session__form', local: true do |f|
    .session__form__box
      .session__form__box__field
        = f.label :Eメール, class: "session__form__box__field__label"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "session__form__box__field__email"
      .session__form__box__field1
        = f.label :パスワード, class: "session__form__box__field1__label"
        %br/
        = f.password_field :password, autocomplete: "current-password", class: "session__form__box__field1__password"
      .session__form__box__actions
        = f.submit "ログイン", class: "session__form__box__actions__text"
        = render "devise/shared/links"
